.container-fluid{
	padding-top: 56px;
}
.imgwh{
	width: 200px;
	height: 50px!important;
}
.nav-link{
	color:#6C757D !important;
}
.navbar-toggler {
  background-color: #6C757D !important;
} 
.container-nganhnghe{
	margin-top: 50px !important;
	
}
.container-vieclam{
	margin-top: 50px !important;
	padding: 10px;

}
.a5sd{
	padding-bottom: 25px;
}
.bg-info2{
	background-color: red !important;
}
#container1{
	background-color: #CCFFFF !important;
}
#container2{
	background-color: #CCFFFF !important;
}
